.formAdd{
    /* height: 100vh;
    background-image: url(../assets/img1.jpg); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container{
    border: 2px solid black;
    height: 60vh;
    width: 35vw;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    
    background-color: white;
    border-radius: 30px;
    align-items: center;
}

.form-container h2{
    margin: 20px;
    font-size: 50px;
    /* border: 2px solid black; */
}

.formCont2{
    font-size: larger;
    font-weight: 500;
}

input, select{
    border: 2px solid black;
}

.formCont2 div{
    display: flex;
    justify-content: space-around;
    margin: 10px;
}
.formCont2 button{
    border: 2px solid black;
    height: 30px;
    width: 100px;
    font-size: larger;
    font-weight: 400;
    border-radius: 5px;
    margin: 40px;
}