.home{
    position: float;
    /* height: 90vh;
    width: 100vw; */
    /* background-color: gray; */
    /* background-image: url(../assets/img1.jpg); */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    font-size: 60px;
    color: aliceblue;
}
.home h4{
    /* border: 2px solid black; */
    height: 20vh;
    margin-top: 60px;
}
h4:hover{
    color: rgb(230, 176, 111);
}