*{
    margin: 0;
    padding : 0;
}
.mainF{
    
    height: 90vh;
    width: 100vw;
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: gray; */
    /* background-image: url(../assets/img1.jpg); */
}
.form{
    height: 60vh;
    width: 35vw;
    border: 2px solid black;
    padding: 30px;
    flex-direction: vertical;
    background-color: white;
    border-radius: 30px;
    align-items: center;
}

.form h2{
    margin: 30px;
    text-align: center;
    text-transform: uppercase ;
    font-size: 40px;
    font-weight: bold;
}
.form div{
    margin: 10px;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    /* align-items: center; */
}
.form div label{
    margin: 30px;
    text-align: center;
    font-size: larger;

}
.form div input{
    /* margin-top: 30px; */
    width: 15vw;
    height: 4vh;
    border: 2px solid black;
    border-radius: 5px;
    color:blue ;
}
.form button{
    border-radius: 5px;
    margin: 30px;
    height: 40px;
    width: 100px;
    font-size: larger;
    margin-top: 10px;
   
}
.form b{
   
    display: flex;
    justify-content: center;
}